{% extends "base.html" %}
{% block content %}
<h1 class = 'profileheading'>My profile page</h1>


<!-- Loop to load in member profile-->
{% if session['role'] == 'member' %}

{% set id = user[0] %}
{% set username = "@{}".format(user[1]) %}
{% set email = user[2] %}
{% set full_name = "{} {}".format(user[3], user[4]) %}
{% set dob = user[5] %}
{% set gender = user[6] %}
{% set address = "{} {}, {}, {} {}".format(user[7], user[8], user[9], user[10], user[11]) %}
{% set phone = user[12] %}
{% set introduction = user[13] %}
{% set emergent_person = user[14] %}
{% set emergent_person_phone = user[15] %}
{% set health_record = user[16] %}
{% set weight = user[17] %}
{% set height = user[18] %}

{% set registered_date = user[19] %}

<div class='profile-heading'>

    <div class="col"><img src="static/images/nova.jpg" alt="profle pic of a dog" id="userprofilepic"></div>
    <div class="col">
        <h3>{{full_name}}</h3>
        <h4>{{username}}</h4>
        <h4>{{gender}}</h4>
        
    </div>
    <div class="col">

        <a class='btn btn-primary' href="{{ url_for('member_bp.viewInbox') }}">View Inbox</a>
        <br/>
        <br/>

        <a class='btn btn-primary' href="{{ url_for('all_users_bp.updateMyprofile') }}">Edit Profile</a>
        
    </div>

    <h2>{{session['role'] | capitalize}}</h2>

    {% if session['subStatus'] %}
    <h2> Subscription Status: Active</h2>
    {% else %}
    <h2> Subscribtion Status: Inactive</h2>
    {% endif %}
    
    <h2>Basic Details</h2>
    <table class="table">
        
        <tr>
            <td>E-mail</td>
            <td>{{email}}</td>
        </tr>
        <tr>    
            <td>Date of Birth</td>
            <td>{{dob|nz_date}}</td>

        </tr>    
        <tr>    
            <td>Address</td>
            <td>{{address}}</td>

        </tr>  
        <tr>    
            <td>Phone</td>
            <td>{{phone}}</td>

        </tr>  

    </table>

    <h2 >Introduction</h2>

    <div>   {{introduction}}</div>

    
    <h2>Fitness Information</h2>

    <table class="table">
        
        <tr>
            <td>Height</td>
            <td>{{height}} cm</td>
        </tr>
        <tr>    
            <td>Weight</td>
            <td>{{weight}} kg</td>

        </tr>    
        <tr>    
            <td>BMI</td>
            <td>{{ bmi }}</td>

        </tr>  
        <tr>    
            <td>Health History</td>
            <td>{{health_record}}</td>

        </tr>  
    </table>

    <h2>Emergency Information</h2>

    <table class="table">
        
        <tr>
            <td>Contact Person</td>
            <td>{{emergent_person}}</td>
        </tr>
        <tr>    
            <td>Phone Number</td>
            <td>{{emergent_person_phone}}</td>

        </tr>    
    </table>

    <table class="table">
        
        <tr>
            <td>Date Registered</td>
            <td>{{registered_date  |nz_date }}</td>
        </tr>
    </table>

</div>

{% endif %}


<!-- Loop to load in trainer profile-->
{% if session['role'] == 'trainer' %}


{% set id = user[0] %}
{% set username = "@{}".format(user[1]) %}
{% set email = user[2] %}
{% set full_name = "{} {}".format(user[3], user[4]) %}
{% set dob = user[5] %}
{% set gender = user[6] %}
{% set address = "{} {}, {}, {} {}".format(user[7], user[8], user[9], user[10], user[11]) %}
{% set phone = user[12] %}

{% set qualification = user[13] %}
{% set biography = user[14] %}
{% set speciality = user[15] %}


<div class='profile-heading'>

    <div class="col"><img src="static/images/nova.jpg" alt="profle pic of a dog" id="userprofilepic"></div>
    <div class="col">
        <h3>{{full_name}}</h3>
        <h4>{{username}}</h4>
        <h4>{{gender}}</h4>
        
    </div>
    <div class="col">

        <br/>
        <a class='btn btn-primary' href="{{ url_for('all_users_bp.updateMyprofile') }}">Edit Profile</a>
    </div>

    <h2>{{session['role'] | capitalize}}</h2>
    
    <h2>Basic Details</h2>
    <table class="table">
        
        <tr>
            <td>E-mail</td>
            <td>{{email}}</td>
        </tr>
        <tr>    
            <td>Date of Birth</td>
            <td>{{dob|nz_date}}</td>

        </tr>    
        <tr>    
            <td>Address</td>
            <td>{{address}}</td>

        </tr>  
        <tr>    
            <td>Phone</td>
            <td>{{phone}}</td>

        </tr>  

    </table>

    <h2>Introduction</h2>

    <table class="table">
        
        <tr>
            <td>Qualifications</td>
            <td>{{qualification}}</td>
        </tr>
        <tr>    
            <td>Speciality</td>
            <td>{{speciality}}</td>

        </tr>    
        <tr>    
            <td>Biography</td>
            <td>{{ biography }}</td>

        </tr>  
    </table>

{% endif %}



<!-- Loop to load in admin profile-->
{% if session['role'] == 'admin' %}



{% set id = user[0] %}
{% set username = "@{}".format(user[1]) %}
{% set email = user[2] %}
{% set full_name = "{} {}".format(user[3], user[4]) %}


<div class='profile-heading'>

    <div class="col"><img src="static/images/nova.jpg" alt="profle pic of a dog" id="userprofilepic"></div>
    <div class="col">
        <h3>{{full_name}}</h3>
        <h4>{{username}}</h4>
        
    </div>
    <div class="col">

        <br/>
        <a class='btn btn-primary' href="{{ url_for('all_users_bp.updateMyprofile') }}">Edit Profile</a>
    </div>

    <h2>{{session['role'] | capitalize}}</h2>
    
    <h2>Basic Details</h2>
    <table class="table">
        
        <tr>
            <td>E-mail</td>
            <td>{{email}}</td>
        </tr>

    </table>

{% endif %}

{% endblock %}