{% extends "base.html" %}
{% block content %}



<form id="sendMSGForm" action="{{ url_for('admin_bp.sendMessage', receiver_id=receiver_id, sending=1, name=name, username=username) }}" method="POST">

<div class='profile-heading'>

    <h1>Sending a message to <span>{{name}}</span></h1>

    

    <table class="table">
        
        <tr>
            <td><h4>Title</h4></td>
            <td><input type="text" class="form-control me-2" id="title" name="title" placeholder="Title" required></td>
        </tr>
        <tr>    
            <td><h4>Type</h4></td>
            <td><select class="form-control me-2" name="type" id="type" required>
                
                <option value="" selected>Choose Type</option>
                <option value="SUB">Subscription</option>
                <option value="PT">Personal Training</option>
                <option value="PROMO" >Promotion</option>
                <option value="NEWS" >News</option>
                <option value="OTHER" >Other</option>
              </select>
            </td>

        </tr>    
    </table>

    <h3>Message</h3>

    <textarea class="form-control me-2" id="message" name="message" ></textarea>



    <button type='submit' class='btn btn-primary' name="submit" id="sumbit" style="margin: 15px;"> Send! </button>

    





    

</div>

</form>

<script>

$('sendMSGForm').submit(function(/*DOMEvent*/ e){
  e.preventDefault();

  var url = $(this).attr('action'),
      data = $(this).serialize();
  $.post(url, data, function(response){
    /* Do something with the response, here we'll just log it to the console */
    confirm("Message Sent!")
  });
});
</script>
{% endblock %}